<!DOCTYPE html>
	<html lang="ar">
	<head>
		<meta charset="UTF-8"/>
		<title>Quran</title>
		<meta name="description" content="AL-QUR'AN"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="css/materialize.min.css">
		<link rel="shortcut icon" href="Quran_Icon3.ico">
		<meta name="theme-color" content="#00897B"/>
		<style>
			@font-face {
					font-family: "qalam";
					src: url("\qalam.ttf");
				}
			.qalam{
				font-family: "qalam";
				font-size : 24px;
				text-align : right;
			}
						
		</style>
	</head>
	<body bgcolor="black">
	<nav class="teal lighten-1" role="navigation">
		<div class ="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo">AL-QUR'AN</a>
			<a href="#" data-target="nav-mobile" class="sidenav-trigger">&#9776;</a>	
			<ul class="topnav right hide-on-med-and-down"></ul>
			<ul id="nav-mobile" class="sidenav"></ul>
		</div>
	</nav>
		<!-- Ahir navigasi-->
	<img src="giphy.gif" width="480" height="480" frameBorder="0" style="display: block; margin: 0 auto;"></iframe>
		
</body>
</html>		
			
				
