<!DOCTYPE html>
	<html lang="ar">
	<head>
		<meta charset="UTF-8"/>
		<title>Quran</title>
		<meta name="description" content="AL-QUR'AN"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="css/materialize.min.css">
		<link rel="shortcut icon" href="Quran_Icon3.ico">
		<meta name="theme-color" content="#00897B"/>
		
	</head>
	<body>
	<nav class="teal lighten-1" role="navigation">
		<div class ="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo">AL-QUR'AN</a>
			<a href="#" data-target="nav-mobile" class="sidenav-trigger">&#9776;</a>	
			<ul class="topnav right hide-on-med-and-down"></ul>
			<ul id="nav-mobile" class="sidenav"></ul>
		</div>
	</nav>
		<!-- Ahir navigasi-->
		<div class="container" id="body-content">
				
				
<img class="responsive-img" src="images\page001.png" width="80%" height="80%" style="display: block; margin: 0 auto;"/>
</div></body></html>
