<!DOCTYPE html>
	<html lang="ar">
	<head>
		<meta charset="UTF-8"/>
		<title>Quran</title>
		<meta name="description" content="AL-QUR'AN"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="css/materialize.min.css">
		<link rel="shortcut icon" href="Quran_Icon3.ico">
		<meta name="theme-color" content="#00897B"/>
		<style>
			@font-face {
					font-family: "qalam";
					src: url("\qalam.ttf");
				}
			.qalam{
				font-family: "qalam";
				font-size : 24px;
				text-align : right;
			}
						
		</style>
	</head>
	<body>
	<nav class="teal lighten-1" role="navigation">
		<div class ="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo">AL-QUR'AN</a>
			<a href="#" data-target="nav-mobile" class="sidenav-trigger">&#9776;</a>	
			<ul class="topnav right hide-on-med-and-down"></ul>
			<ul id="nav-mobile" class="sidenav"></ul>
		</div>
	</nav>
		<!-- Ahir navigasi-->
		<div class="container" id="body-content">
			<div class="coloum">
				
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>2-19</span>
<p>Atau seperti (orang yang ditimpa) hujan lebat dari langit, yang disertai kegelapan, petir dan kilat. Mereka menyumbat telinga dengan jari-jarinya, (menghindari) <span style="color:red">suara</span> petir itu karena takut mati. Dan Allah meliputi orang-orang yang kafir.</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>6-63</span>
<p>Katakanlah (Muhammad), “Siapakah yang dapat menyelamatkan kamu dari bencana di darat dan di laut, ketika kamu berdoa kepada-Nya dengan rendah hati dan dengan <span style="color:red">suara</span> yang lembut?” (Dengan mengatakan), “Sekiranya Dia menyelamatkan kami dari (bencana) ini, tentulah kami menjadi orang-orang yang bersyukur.”</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>7-55</span>
<p>Berdoalah kepada Tuhanmu dengan rendah hati dan <span style="color:red">suara</span> yang lembut. Sungguh, Dia tidak menyukai orang-orang yang melampaui batas.</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>7-148</span>
<p>Dan kaum Musa, setelah kepergian (Musa ke Gunung Sinai) mereka membuat patung anak sapi yang bertubuh dan dapat melenguh (ber<span style="color:red">suara</span>) dari perhiasan (emas).Apakah mereka tidak mengetahui bahwa (patung) anak sapi itu tidak dapat berbicara dengan mereka dan tidak dapat (pula) menunjukkan jalan kepada mereka? Mereka menjadikannya (sebagai sembahan). Mereka adalah orang-orang yang zalim.</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>7-205</span>
<p>Dan ingatlah Tuhanmu dalam hatimu dengan rendah hati dan rasa takut, dan dengan tidak mengeraskan <span style="color:red">suara</span>, pada waktu pagi dan petang, dan janganlah kamu termasuk orang-orang yang lengah.</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>11-67</span>
<p>Kemudian <span style="color:red">suara</span> yang mengguntur menimpa orang-orang zalim itu, sehingga mereka mati bergelimpangan di rumahnya,</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>11-94</span>
<p>Maka ketika keputusan Kami datang, Kami selamatkan Syu'aib dan orang-orang yang beriman bersamanya dengan rahmat Kami. Sedang orang yang zalim dibinasakan oleh <span style="color:red">suara</span> yang mengguntur, sehingga mereka mati bergelimpangan di rumahnya.</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>15-73</span>
<p>Maka mereka dibinasakan oleh <span style="color:red">suara</span> keras yang mengguntur, ketika matahari akan terbit,</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>15-83</span>
<p>Kemudian mereka dibinasakan oleh <span style="color:red">suara</span> keras yang mengguntur pada pagi hari,</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>17-64</span>
<p>Dan perdayakanlah siapa saja di antara mereka yang engkau (Iblis) sanggup dengan <span style="color:red">suara</span>mu (yang memukau), kerahkanlah pasukanmu terhadap mereka, yang berkuda dan yang berjalan kaki, dan bersekutulah dengan mereka pada harta dan anak-anak lalu beri janjilah kepada mereka.” Padahal setan itu hanya menjanjikan tipuan belaka kepada mereka.</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>17-110</span>
<p>Katakanlah (Muhammad), “Serulah Allah atau serulah Ar-Raḥmān. Dengan nama yang mana saja kamu dapat menyeru, karena Dia mempunyai nama-nama yang terbaik (Asmā’ul Ḥusnā) dan janganlah engkau mengeraskan <span style="color:red">suara</span>mu dalam salat dan janganlah (pula) merendahkannya dan usahakan jalan tengah di antara kedua itu.”</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>19-3</span>
<p>(Yaitu) ketika dia berdoa kepada Tuhannya dengan <span style="color:red">suara</span> yang lembut.</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>20-88</span>
<p>kemudian (dari lubang api itu) dia (Samiri) mengeluarkan (patung) anak sapi yang bertubuh dan ber<span style="color:red">suara</span>untuk mereka, maka mereka berkata, “Inilah Tuhanmu dan Tuhannya Musa, tetapi dia (Musa) telah lupa.”</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>20-108</span>
<p>Pada hari itu mereka mengikuti (panggilan) penyeru (malaikat) tanpa berbelok-belok (membantah); dan semua <span style="color:red">suara</span> tunduk merendah kepada Tuhan Yang Maha Pengasih, sehingga yang kamu dengar hanyalah bisik-bisik.</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>23-41</span>
<p>Lalu mereka benar-benar dimusnahkan oleh <span style="color:red">suara</span> yang mengguntur, dan Kami jadikan mereka (seperti) sampah yang dibawa banjir.Maka binasalah bagi orang-orang yang zalim.</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>25-12</span>
<p>Apabila ia (neraka) melihat mereka dari tempat yang jauh, mereka mendengar <span style="color:red">suara</span>nya yang gemuruh karena marahnya.</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>29-40</span>
<p>Maka masing-masing (mereka itu) Kami azab karena dosa-dosanya, di antara mereka ada yang Kami timpakan kepadanya hujan batu kerikil, ada yang ditimpa <span style="color:red">suara</span> keras yang mengguntur, ada yang Kami benamkan ke dalam bumi, dan ada pula yang Kami tenggelamkan. Allah sama sekali tidak hendak menzalimi mereka, akan tetapi merekalah yang menzalimi diri mereka sendiri.</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>31-19</span>
<p>Dan bersederhanalah dalam berjalandan lunakkanlah <span style="color:red">suara</span>mu. Sesungguhnya seburuk-buruk suara ialah suara keledai.”</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>33-32</span>
<p>Wahai istri-istri Nabi! Kamu tidak seperti perempuan-perempuan yang lain, jika kamu bertakwa. Maka janganlah kamu tunduk (melemah lembutkan <span style="color:red">suara</span>)dalam berbicara sehingga bangkit nafsu orang yang ada penyakit dalam hatinya,*dan ucapkanlah perkataan yang baik.</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>49-2</span>
<p>Wahai orang-orang yang beriman! Janganlah kamu meninggikan <span style="color:red">suara</span>mu lebih (dari) suara Nabi, dan janganlah kamu berkata kepadanya dengan suara keras sebagaimana kerasnya (suara) sebagian kamu terhadap sebagian yang lain, nanti (pahala) segala amalmu bisa terhapus sedangkan kamu tidak menyadari.</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>49-3</span>
<p>Sesungguhnya orang-orang yang merendahkan <span style="color:red">suara</span>nya di sisi Rasulullah, mereka itulah orang-orang yang telah diuji hatinya oleh Allah untuk bertakwa. Mereka akan memperoleh ampunan dan pahala yang besar.</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>50-42</span>
<p>(Yaitu) pada hari (ketika) mereka mendengarkan <span style="color:red">suara</span> dahsyat dengan sebenarnya. Itulah hari keluar (dari kubur).</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>54-31</span>
<p>Kami kirimkan atas mereka satu <span style="color:red">suara</span> yang keras mengguntur, maka jadilah mereka seperti batang-batang kering yang lapuk.</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>67-7</span>
<p>Apabila mereka dilemparkan ke dalamnya, mereka mendengar <span style="color:red">suara</span> neraka yang mengerikan, sedang neraka itu membara,</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>69-5</span>
<p>Maka adapun kaum Ṡamūd, mereka telah dibinasakan dengan <span style="color:red">suara</span> yang sangat keras,</p>
</div></div></div>
<div class="col s12 m6"><div class="card blue-grey darken-3"><div class="card-content white-text">
<span>80-33</span>
<p>Maka apabila datang <span style="color:red">suara</span> yang memekakkan (tiupan sangkakala yang kedua),</p>
</div></div></div>
